.biere-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.biere-container h2 {
  align-self: center;
  margin-top: 60px;
  margin-bottom: 90px;
}

.biere-container p {
  align-self: center;
}

.biere-title-big {
  padding-top: 60px;
}

.biere-button-shop {
  align-self: center;
  background-color: #faedcd;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  border: 1px black solid;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-nav:hover {
  background-color: #e4d8b9;
}
